*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}
.body{
    position: absolute;
width: 1440px;
height: 866px;
left: 0px;
top: 0px;
background-size: cover;
  background-position: center;

}
.hero{
    
    width: 1440px;
    height: 866px;
}

.nav{
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}

.nav-list{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-item{
    list-style: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.nav-list-right{
    display: flex;
    gap: 12.87px;
    align-items: center;
}
.menu-icon-wrapper{
    display: none;
}
.menu-icon{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-icon:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .app-logo{
        height: 25px;
    }
    .nav-list{
        gap: 20px;
    }    
    .nav-item-image{
        height: 30px;
    }
    .nav-item{
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width: 768px) {
    .app-logo{
        height: 20px;
    }
    .nav-list{
        gap: 18px;
    }    
    .nav-item-image{
        height: 25px;
    }
    .nav-item{
        font-size: 10px;
        line-height: 14px;
    }
}

@media (max-width: 600px){
    .nav-list .nav-item:not(:first-child),
    .nav-list-right .nav-item {
        display: none;
    }
    .menu-icon-wrapper{
        display: block;
    }
}

.main-wrapper-text{

    width: 730px;
    height: 196px;
    font-family: 'Inter';
    font-style: normal;
    font-feature-settings: 'salt' on, 'liga' off;
    font-weight: 800;
    color: #18191F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2em;
    /* line-height: 98px;  */
    flex: none;
    order: 0;
    flex-grow: 0;

    /* font-size: 72px; */
    font-weight: 800;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: left;

}

.main-wrapper-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 730px;
    height: 276px;
    left: 165px;
    top: 240px;
}

.main-wrapper-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    width: 154px;
    height: 48px;
    background: #8C30F5;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
    text-align: center;
    line-height: 100px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.main-wrapper-right-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 350px;
    height: 640px;
    left: 925px;
    top: 120px;
    height: 640px;


}