*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 100vw;
    height: 100vh;
}

.nav{
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}

.nav-list{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-item{
    list-style: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.nav-list-right{
    display: flex;
    gap: 12.87px;
    align-items: center;
}
.menu-icon-wrapper{
    display: none;
}
.menu-icon{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-icon:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .app-logo{
        height: 25px;
    }
    .nav-list{
        gap: 20px;
    }    
    .nav-item-image{
        height: 30px;
    }
    .nav-item{
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width: 768px) {
    .app-logo{
        height: 20px;
    }
    .nav-list{
        gap: 18px;
    }    
    .nav-item-image{
        height: 25px;
    }
    .nav-item{
        font-size: 10px;
        line-height: 14px;
    }
}

@media (max-width: 600px){
    .nav-list .nav-item:not(:first-child),
    .nav-list-right .nav-item {
        display: none;
    }
    .menu-icon-wrapper{
        display: block;
    }
}
